@import "_mixins";
@import "susy";
@import "zen-grids";

/* Colors variables
   ========================================================================== */

$white:                   #fff;
$dark-gray:               #ccc;
$darker-gray:             #333;
$light-gray:              #dadada;
$lighter-gray:            #e5e5e5;
$gray:                    #ccc;
$black:                   #000;
$gray-transparent-bg:     rgba( 0, 0, 0, 0.7);
$red:                     #e10d3f;
$orange:                  #ea6621;
$green_light:             #b9c650;
$blue:                    #008abe;
$purple:                  #a34da4;
$marine:                  #47cfd1;
$yellow:                  #eae328;
$green:                   #78a854;

$zen-columns:             12;
$zen-gutters:             20px;

$tablet: "(max-width: 1024px)";

.pane-search-form .search-field-wrapper #search-block-form .form-item-ting-field-search label {
  position: initial;
  top: 0;
  margin-left: 0;
  margin-bottom:5px;
  font-size: 100%;
}

.front.not-logged-in {
  #search-block-form {
    .form-item-ting-field-search.search-ting-field {
      top: 10px;
      right: 32px;

      @media #{$tablet} {
        right: 57px;
      }

      @include small-medium() {
        right: 30px;
      }
    }
  }
}

.header-inner {
  $zen-column-count: 12;
  $zen-gutter-width: 10px;
}

section .pane-search-form {
  @include zen-grid-item(8, 1);
}


div .ding-user-header-block {
  @include zen-grid-item(4, 1, right);
}

div.ding-user-header.header-right{
  @include zen-grid-item(10, 1, right);
  padding: 0;
}

.front.not-logged-in {
  #search-block-form .form-item-ting-field-search.search-ting-field {
    width: 20%;
    @include small-medium() {
      width: 100%;
      margin-left: 31px;
    }

    span.select2-container {
      width: 165px;

      @include small-medium() {
        width: 100%;
      }
    }
  }

  #search-block-form {
   .form-item-search-block-form.search-block-little {
    width: 73%;
    @media #{$tablet} {
      width: 68%;
    }
    @include small-medium() {
      width: 100%;
    }
  }

  .form-actions.form-actions-small {
      margin-right: 27%;
      @media #{$tablet} {
        margin-right: 32%;
      }
    }
  }

}

.front.logged-in {
   #search-block-form .form-item-ting-field-search.search-ting-field {
    width: 12%;
    span.select2-container {
      width: 165px;
    }
  }
}

section .user-field-wrapper {
  @include zen-grid-item(4, 1, right);
}

section .navigation-wrapper {
  display: none;
}

.topbar-menu {
  display: none;
}

.logo {
  padding-bottom: 10px;
}

.search .form-text,
.search-field-in-content
.form-text, .user .form-text,
.search .form-submit,
.search-field-in-content
.form-submit,
.user .form-submit {
  height: 60px;
}

.header-wrapper{
  overflow: hidden;
  height: auto;
}

.pane-user-login {
  display: none !important;
}

.header-wrapper .header-inner>section  {
  padding: 10px;
}

.not-logged-in .js-topbar-search  {
  display: block !important;

}

.admin-menu .header-wrapper .header-inner>section {
  margin-bottom: 30px;
}

/* Raw styles */
.ding-user-header-block {
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 10px;

  @include small-medium() {
    padding-top: 0;
  }

  input[name="name"],
  input[name="pass"]{
    height: 43px;
  }

  .user-stats {
    color: $white;

    a {
      color: $white;
      font-weight: bold;
    }
  }

  .user-links {
    ul {
      margin: 0;
      padding: 0;
      
      li {
        margin-right: 10px;
        
        a {
          color: $white;
          font-weight: bold;
        }

        &:first-child:before {
          display: none;
        }

        &:before {
          content: "|";
          color: $white;
          margin-right: 10px;
        }
      }
    }
  }

  .ding-user-block {
    font-size: 85%;
  }
  
  .form-item-pass {
    label {
      display: none;
    }
  }
  
  label {
    color: #fff;
  }

  .user-stats-row {
    display: inline-block;
    width: 100%;
  }

  .stats-label {
    float: left;
  }

  .stats-count {
    float: right;
  }

  .user-links {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
  }

  .user-links a {
    text-decoration: underline !important;
    color: #000000;
  }

  .view-user {
    float: left;
  }

  .separator {
    float: left;
    margin: 0 5px;
  }

  .pane-search-form {
    display: block !important;
  }

  [class^="icon-"], [class*=" icon-"] {
    margin: 10px 0 0 10px;
    font-size: 130%;
  }

  .icon-user, .icon-lock {
    position: absolute;
  }

  div .form-item-pass {
    display: inline-block;
    width: 30%;
    position: absolute;

    input[type="password"] {
      display: inline;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    padding: 10px 10px 10px 45px;
    font-size: 110%;
  }

  input[type="password"] {
    padding-left: 35px;
  }

  div .form-actions {
    display: inline;

    input[type="submit"] {
      height: 43px;
      position: relative;
      margin-top: 0;
      float: right;
      font-size: 110%;
    }
  }

  .user-stats {
    .user-stats-row{
      height: 20px;
    }
  }

  .user-links ul li {
    display: inline;
  }
}

.search.js-topbar-search {
  display: block !important;
}

@include small-medium() {
  .header-wrapper {
    height: auto;
  }
  
  .topbar-menu {
    display: block;
    margin-right: 10px;
    
    .topbar-link-search,
    .topbar-link-user,
    .topbar-link-user-account {
      display: none;
    }
  }
  
  .header-wrapper .header-inner > section.js-mobile-user-menu {
    display: none;
  }

  .header-inner {
    $zen-column-count: 12;
    $zen-gutter-width: 10px;
  }

  section .pane-search-form {
    @include zen-grid-item(8, 1);
  }

  div .ding-user-header-block {
    @include zen-grid-item(4, 1);
  }

  section .user-field-wrapper {
    @include zen-grid-item(4, 1);
  }

  .header-wrapper .header-inner>section{
    display: block;
    width: 100%;
    height:100%;
  }

  div .ding-user-header-block {
    display: block;
    width: 100%;
    height:100%;
    clear: both;

    div .form-actions input[type="submit"] {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    div .form-item-pass {
      display: block;
      width:  100%;
      position: relative;
    }
  }
}
